<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Extensions.CognitoAuthentication" version="2.4.2" targetFramework="net471" />
  <package id="AWSSDK.CognitoIdentity" version="3.7.100.141" targetFramework="net471" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.7.101.141" targetFramework="net471" />
  <package id="AWSSDK.Core" version="3.7.107.2" targetFramework="net471" />
  <package id="AWSSDK.SecurityToken" version="3.7.103.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
</packages>